/static
/user-media
/journal
/db.sqlite3*
Session.vim
/.venv
/assets
/logs
/.coverage
/tmp
/media
/.idea

__pycache__
.*.swp

/etebase_server_settings.py
/secret.txt

/build
/dist
/*.egg-info

etebase-server.ini
etebase_nginx.conf
